APP_NAME="JB Multimarcas API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jbmultimarcas
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

JWT_SECRET=
JWT_TTL=1440
JWT_REFRESH_TTL=20160

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080

ADMIN_EMAIL=admin@jbmultimarcas.com.br
ADMIN_PASSWORD=admin123
